@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Manrope', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
  height: 0.5em; /* Adjust the height as needed */
}

.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Set the track background color */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb background color */
  border-radius: 4px; /* Optionally, you can add some border-radius for the thumb */
}

.loader {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.dash-loader {
    position: relative;
    width: 200px;
    height: 200px;
  }
  .dash-loader::before , .dash-loader::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #fff;
    left: 50%;
    top: 60%;
    animation: rotate 1s ease-in infinite;
}
.dash-loader::after {
  width: 40px;
  height: 40px;
  background-color:#6B46C1;
  animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite ;
}

@keyframes moveY {
  0% , 100% {top: 10%}
  45% , 55% {top: 59%}
  60% {top: 40%}
}
@keyframes rotate {
  0% { transform: translate(-50%, -100%) rotate(0deg) scale(1 , 1)}
  25%{ transform: translate(-50%, 0%) rotate(180deg) scale(1 , 1)}
  45% , 55%{ transform: translate(-50%, 100%) rotate(180deg) scale(3 , 0.5)}
  60%{ transform: translate(-50%, 100%) rotate(180deg) scale(1, 1)}
  75%{ transform: translate(-50%, 0%) rotate(270deg) scale(1 , 1)}
  100%{ transform: translate(-50%, -100%) rotate(360deg) scale(1 , 1)}
}
    